<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jra.cinescope2017">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BoxOffice" />
        <activity android:name=".HitParadeDuPublic" />
        <activity android:name=".AvisDesCritiques" />
        <activity android:name=".RechercheAvancee" />
        <activity android:name=".Aide" />
        <activity android:name=".Authentification" />
        <activity android:name=".TousLesFilms" />
        <activity android:name=".Inscription" />
        <activity android:name=".MonCompte" />
        <activity android:name=".Importations" />

        <provider
            android:name=".FournisseurGenres"
            android:authorities="jra.cinescope2017.FournisseurGenres"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".FournisseurDepartements"
            android:authorities="jra.cinescope2017.FournisseurDepartements"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Geocodage" />
        <activity android:name=".UnFilm" />
        <activity android:name=".UnFilmUneVideo" />
        <activity android:name=".AuthentificationFragmentFixe" />
        <activity android:name=".Bandeau" />
        <activity android:name=".CatalogueFragmentFixe" />
        <activity android:name=".MainFragmentFixe" />
        <activity android:name=".AuthentificationInclusions" />
        <activity android:name=".InclusionsBase" />
        <activity android:name=".CatalogueInclusions" />
        <activity android:name=".ResultatRechercheSDP" />
        <activity android:name=".SallesDeParis"></activity>
    </application>

</manifest>